#eight e@-webkit-keyframes hvr-push  {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#displayField {
    padding-top: 30px;
}